
.a:hover{
  color: red

}
.a:active{
  color:green
}
.a:focus{
  color:blue
}

:visited{color:orange
  ;}
:link{color:pink
  ;}
[href^="tel"] :link{color:yellow
      ;}
[href^="mailto"] i :link{color:blue
        ;}
[href$="pdf"] i :link{ border:30px
          ;}
.a li :nth-child(4){
  color:red
}
.a li :nth-child(5){
  color:red
}
.a li :nth-child(6){
  color:red
}
.a li :nth-child(7){
  color:red
}
